.wrapper {
    --max-width: 980px;
    --min-margin: 1em;

    width: min(var(--max-width), 100% - 2 * var(--min-margin));
    margin-inline: auto;
}

.content-grid {
    --max-width: 980px;
    --min-margin: 1em;

    display: grid;
    grid-template-columns: 
        minmax(var(--min-margin), 1fr)
        minmax(auto, var(--max-width))
        minmax(var(--min-margin), 1fr);
}

.content-grid > * {
    grid-column: 2;
}

.content-grid > .full {
    grid-column: 1 / -1;
}

.season-imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.season-imgs > *.dark {
    background-color: lightslategray;
}

.season-imgs > * {
    background-color: lightskyblue;
    padding: 2em;
}

.clock {
    margin-block: 2em;
    margin-inline: auto;
    padding: 2em 8em;
    border: 1px solid black;
}

.red {
    color: red;
}

.watchers-container {
    background-color: lightcoral;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    margin-inline: auto;
}

.watchers {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
}

.watchers > * {
    margin: 1em;
}